DISCORD_CLIENT_ID=1468650530384511006
DISCORD_CLIENT_SECRET=xclrZo_4T9OXwoyyf1dUqz9ga6MVAzzj
DISCORD_BOT_TOKEN=MTQ2ODY1MDUzMDM4NDUxMTAwNg.GMns0d.VECRsLW1QDW4L43hkPfpm5FvkR42Pgpwhlma7w
DISCORD_REDIRECT_URI=http://localhost:8000/auth/callback
DISCORD_GUILD_ID=
SESSION_SECRET=change-me
